/* 
My CSS Styling starts here
*/

.container{
    background-color: rgb(178, 255, 127);
    margin-left:100px;
    margin-top: 50px;

}
img{
    margin: 10px 50px 10px 10px;
    float: right;
    
}
img::after { 
    content: "";
    display: block; 
    clear: both;
  }

h1{
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 .parent h2:nth-child(even) {
    background: yellowgreen;
    color:white;
  }

 h2 {
padding:10px;
background-color: blueviolet;
text-decoration-style: double;
}

ul.a {
    list-style-type: square;
}

ul :hover
	{
	background:yellowgreen;
    }

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box;
  
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }
  
  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    background-color: beige;
  
    /* To give enough room to type some text */
    height: 5em;
  }
  
  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  .centre{
      text-align: center;
      background-color: cornflowerblue;
      text-decoration-color: black
  }
